@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
:root{
    --Dark-Blue: hsl(240, 38%, 20%);
    --Grayish-Blue: hsl(240, 18%, 77%);
    font-family: 'Inter', sans-serif;
}
/* *{
    border: red 1px solid;
} */
body{
    margin: 0;
    padding: 0;
    font-size: 32px;
    height: 100vh;
}
.slideNone{
    display: none;
}
.slide--container{
    height: 100vh;
    width: 100vw;
    background-image: url(../images/pattern-curve.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 22rem;
    
}
.slide{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* #slide2{
    display: none;
} */
.image--background{
    background-image: url(../images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7%;
    position: relative;
    z-index: 0;
}
.image--background img{
    width: 74%;
    height: auto;
    border-radius: 7px;
    z-index: -1;
}
.testimonial{
    background-image: url(../images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 18%;
}
.testimonial p{
    color: var(--Dark-Blue);
    font-weight: 300;
    font-size: 0.57em;
    text-align: center;
    margin: 8% 5% 2%;
}
.person{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-top: 9%;
}
.name{
    font-weight: 700;
}
.description{
    font-weight: 500;
    color: var(--Grayish-Blue);
}


.button--bar{
    display: flex;
    height: 50px;
    width: 100px;
    border-radius: 50px;
    background: #ffffff;
    justify-content: space-around;
    align-items: center;
    box-shadow: -50px 15px 24px -7px #bfc1d7;
    position: absolute;
    margin-top: 70%;
    z-index: 0;
   
}
.button--bar img{
    height: 38%;
    cursor: pointer;
    width: initial;
 
}
@media screen and (min-width: 600px){
    .slide{
        flex-direction: row-reverse;
    }
    .data{
        width: 38vw;
        height: 85vh;
    }
    .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .image--background{
        background-position: center;
        width: 52vw;
        height: 80vh;
        margin-top: 5vh;;
    }
    
    .testimonial{
        margin-top: 22%;
    }
    .testimonial p{
        font-size: 0.65em;
        text-align: left;
        margin: 11% -40% 0% 24%;
    }
    .person{
        display: block;
        text-align: initial;
        margin-left: 24%;
    }
    .description{
        margin-left: 1%;
    }
   
    
}

@media screen and (min-width: 1024px){
    .button--bar{
        margin-left: -42%
    }
}
@media screen and (min-width: 1440px){
    .testimonial p{
        font-size: 1em;
    }
}